{% extends 'base.html.twig' %}

{% block title %}Boîte à Outils - Documentation Technique{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/tools.css') }}">
{% endblock %}

{% block body %}
<div class="toolbox-page">
    <!-- Background -->
    {% include 'partials/background.html.twig' %}

    <!-- Header -->
    <header class="header">

        <a href="{{ path('app_home') }}" class="back-home-button">
            Revenir à l'accueil
        </a>
        <h1 class="main-title">Boîte à Outils</h1>
        <p class="description">
            Cliquez sur la boîte pour découvrir tous nos outils, tutoriels et documentations
        </p>


    </header>


    <!-- Toolbox Container -->
    <div class="toolbox-scene">
        <div class="toolbox-container" id="toolboxContainer">
            <!-- Toolbox Closed -->
            <div class="toolbox-closed" id="toolboxClosed">
                <div class="toolbox-box">
                    <div class="toolbox-face toolbox-front">
                        <div class="toolbox-handle"></div>
                        <div class="toolbox-lock">
                            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"></path>
                            </svg>
                        </div>
                        <div class="toolbox-label">CLIQUEZ POUR OUVRIR</div>
                    </div>
                    <div class="toolbox-face toolbox-top"></div>
                    <div class="toolbox-face toolbox-right"></div>
                    <div class="toolbox-face toolbox-left"></div>
                    <div class="toolbox-face toolbox-bottom"></div>
                    <div class="toolbox-face toolbox-back"></div>
                </div>
            </div>

            <!-- Toolbox Opened -->
            <div class="toolbox-opened" id="toolboxOpened">
                <div class="toolbox-lid">
                    <div class="lid-inner"></div>
                </div>
                <div class="toolbox-base">
                    <div class="tools-grid">
                        <!-- Tool Items -->
                        <div class="tool-item" data-tool="admin-system">
                            <div class="tool-icon tool-purple">
                                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                </svg>
                            </div>
                            <span class="tool-name">Admin Système</span>
                        </div>

                        <div class="tool-item" data-tool="linux-env">
                            <div class="tool-icon tool-orange">
                                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                                </svg>
                            </div>
                            <span class="tool-name">Linux Setup</span>
                        </div>

                        <div class="tool-item" data-tool="software-lists">
                            <div class="tool-icon tool-green">
                                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
                                </svg>
                            </div>
                            <span class="tool-name">Logiciels</span>
                        </div>

                        <div class="tool-item" data-tool="tutorials">
                            <div class="tool-icon tool-blue">
                                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path>
                                </svg>
                            </div>
                            <span class="tool-name">Tutoriels</span>
                        </div>

                        <div class="tool-item" data-tool="tchap-forum">
                            <div class="tool-icon tool-cyan">
                                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"></path>
                                </svg>
                            </div>
                            <span class="tool-name">Forum Tchap</span>
                        </div>

                        <div class="tool-item" data-tool="documentation">
                            <div class="tool-icon tool-pink">
                                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path>
                                </svg>
                            </div>
                            <span class="tool-name">Documentation</span>
                        </div>
                    </div>
                </div>
                <button class="close-toolbox" id="closeToolbox">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                    Fermer
                </button>
            </div>
        </div>

    </div>

    <!-- Modal for Tool Details -->
    {% include 'partials/tool_modal.html.twig' %}


</div>

 <script src="{{ asset('/toolbox.js') }}"></script>
{% endblock %}



